<div>
    <h3>Foos</h3>
    <span>(form spa-demo/foos/foos.html)</span>
    <form>
        <div>
            <label>Name:</label>
            <input name="name" ng-model="foosVM.foo.name" required="required">
        </div>
        <button ng-if="!foosVM.foo.id" type="submit" ng-click="foosVM.create()">Create Foo</button>
        <button ng-if="foosVM.foo.id" type="submit" ng-click="foosVM.update()">Update Foo</button>
        <button ng-if="foosVM.foo.id" type="submit" ng-click="foosVM.remove()">Delete Foo</button>
    </form>
    <ul>
        <li ng-repeat="foo in foosVM.foos | orderBy:'name'">
            <a ng-click="foosVM.edit(foo)">{{foo.name}}
	</ul>

</div>